@use '@ibm/plex-sans/scss' as PlexSans with (
  $font-prefix: '@ibm/plex-sans',
  $font-weights: (
    bold: true,
    boldItalic: false,
    extralight: false,
    extralightItalic: false,
    italic: false,
    light: false,
    lightItalic: false,
    medium: false,
    mediumItalic: false,
    regular: true,
    semibold: false,
    semiboldItalic: false,
    text: false,
    textItalic: false,
    thin: false,
    thinItalic: false,
  )
);
@use '@ibm/plex-mono/scss' as PlexMono with (
  $font-prefix: '@ibm/plex-mono',
  $font-weights: (
    bold: true,
    boldItalic: false,
    extralight: false,
    extralightItalic: false,
    italic: false,
    light: false,
    lightItalic: false,
    medium: false,
    mediumItalic: false,
    regular: true,
    semibold: true,
    semiboldItalic: false,
    text: false,
    textItalic: false,
    thin: false,
    thinItalic: false,
  )
);
@use '@ibm/plex-math/scss' as PlexMath with (
  $font-prefix: '@ibm/plex-math'
);

@include PlexSans.all();
@include PlexMono.all();
@include PlexMath.all();
